@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <h2>ASP.NET Core Sample</h2>
    <p>A collection of ASP.NET Core Sample programs</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code Example</th>
                <th>Link</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CRUD Operation</td>
                <td> <a asp-area="" asp-controller="Employee" asp-action="Index">Click Here</a></td>
                <td>Simple CRUD Operation with EF Core using partial view and Modal</td>
            </tr>
            <tr>
                <td>Paging Example</td>
                <td><a asp-area="" asp-controller="Paging" asp-action="Index">Click Here</a></td>
                <td>Paging in .Net Core 3.1 MVC with EF Core</td>
            </tr>
            <tr>
                <td>Record Audio/Video</td>
                <td><a asp-area="" asp-controller="Video" asp-action="Index">Click Here</a></td>
                <td>Record Audio/Video using .Net Core 3.1 MVC</td>
            </tr>
        </tbody>
    </table>
</div>
